# IntelijIdea Project Junk
.idea/
*.iml


# Eclipse Project Junk
.factorypath
.settings/
.project
.classpath
.vscode


# Build directories
/build/
/out/
/target/
/*/target/

# Dependencies
node_modules/


# Gradle meta
.gradle/


# Compiled things
*.class


# Other version control
.svn/

#
# Exported from svn:ignore
#
target

# MacOS files
*.DS_Store
Site/htdocs/documents/WASH-b_Bangladesh/.DS_Store
Site/htdocs/documents/.DS_Store
Site/htdocs/.DS_Store
Site/htdocs/documents/.DS_Store
Site/htdocs/documents/.DS_Store
